@import url('https://fonts.googleapis.com/css?family=Eater');


* {
    font-family: 'Eater', cursive;

}

body, html {
    height: 100%;
    background-color: black !important;
    height: 100%;
}

img {
    opacity: 0.8;
}

div.container.mybg {
    background-color: black;    
}


#score {
    position: fixed;
    top: 0;
    left: 0;
    line-height: 5px;
    padding-top: 1rem;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(248, 52, 52), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typew, #score, .guess {
    background: -webkit-linear-gradient(rgb(248, 52, 52), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#score {
    font-size: 20px;
}
